langchain-anthropic
langgraph
langchain-core
langmem
langgraph-checkpoint-postgres
psycopg[binary]
psycopg-pool
fastapi
uvicorn
pyjwt
langsmith
yfinance
sentence-transformers
supabase
pypdf
streamlit
python-dotenv
requests
ipykernel
beautifulsoup4
pytest
