groq
langchain-groq
langgraph
langchain-core
langmem
langgraph-checkpoint-postgres
psycopg[binary]
psycopg-pool
fastapi
uvicorn
pyjwt
yfinance
sentence-transformers
supabase
pypdf
streamlit
python-dotenv
requests
ipykernel
